In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('/Users/um/Desktop/Wild Code School/Projet_Top_Gun/aeronefs_2024-06-02.csv')

In [13]:
df

,ref_aero,type_model,debut_service,last_maint,en_maintenance,end_maint
0,E170_6353,E170,2000-03-17,2024-03-27 00:00:00,False,NaN
1,B767_2803,B767,2020-12-03,2024-06-01 00:00:00,False,NaN
2,CRJ700_6943,CRJ700,2015-01-29,2024-06-02,True,2024-06-03 14:13:00
3,A350_1177,A350,2005-08-07,2024-01-04 00:00:00,False,NaN
4,B777_4029,B777,2009-01-01,2024-06-01 00:00:00,False,NaN
...,...,...,...,...,...,...
227,B737_4369,B737,2010-01-05,2024-06-01 00:00:00,False,NaN
228,A340_4021,A340,2004-12-13,2024-05-31 00:00:00,False,NaN
229,CRJ900_1740,CRJ900,2003-07-20,2024-06-01 00:00:00,False,NaN
230,E170_5551,E170,2021-04-10,2024-06-01 00:00:00,False,NaN
231,CRJ700_2988,CRJ700,2000-10-25,2024-02-01 00:00:00,False,NaN

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 232 entries, 0 to 231
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   ref_aero        232 non-null    object
 1   type_model      232 non-null    object
 2   debut_service   232 non-null    object
 3   last_maint      232 non-null    object
 4   en_maintenance  232 non-null    bool
 5   end_maint       15 non-null     object
dtypes: bool(1), object(5)
memory usage: 9.4+ KB

In [4]:
df.isnull().sum()

ref_aero            0
type_model          0
debut_service       0
last_maint          0
en_maintenance      0
end_maint         217
dtype: int64

In [5]:
df.type_model.unique()

array(['E170', 'B767', 'CRJ700', 'A350', 'B777', 'E175', 'A330', 'A320',
       'A321', 'B757', 'A380', 'B747', 'B737', 'CRJ900', 'A340'],
      dtype=object)

In [14]:
df.type_model.nunique()

15