In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('/Users/um/Desktop/Wild Code School/Top_Gun/degradations_2024-06-02.csv')

In [6]:
df[df['linked_aero'] == 'E170_5551']

,ref_deg,linked_aero,compo_concerned,usure_nouvelle,measure_day,need_replacement
1800,D001765,E170_5551,REAE170-E170_5551-0,33.472770,2024-06-01,False
1801,D007931,E170_5551,REAE170-E170_5551-1,41.964356,2024-06-01,False
1802,D000298,E170_5551,SYSE170-E170_5551-2,2.467346,2024-06-01,False
1803,D007888,E170_5551,ORDE170-E170_5551-3,35.576746,2024-06-01,False
1804,D002631,E170_5551,AUTE170-E170_5551-4,24.763782,2024-06-01,False
...,...,...,...,...,...,...
10480,D001482,E170_5551,SYSE170-E170_5551-40,43.960000,2023-08-23 00:00:00,False
10481,D006878,E170_5551,PORE170-E170_5551-41,9.300000,2023-08-23 00:00:00,False
10482,D000419,E170_5551,HUBE170-E170_5551-42,40.040000,2023-08-23 00:00:00,False
10483,D009981,E170_5551,ECLE170-E170_5551-43,56.670000,2023-08-23 00:00:00,False
10484,D005733,E170_5551,SYSE170-E170_5551-44,40.560000,2023-08-23 00:00:00,False

In [5]:
df.nunique()

ref_deg              6554
linked_aero           231
compo_concerned     10395
usure_nouvelle      10432
measure_day             9
need_replacement        1
dtype: int64

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10530 entries, 0 to 10529
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   ref_deg           10530 non-null  object
 1   linked_aero       10530 non-null  object
 2   compo_concerned   10530 non-null  object
 3   usure_nouvelle    10530 non-null  float64
 4   measure_day       10530 non-null  object
 5   need_replacement  10530 non-null  bool
dtypes: bool(1), float64(1), object(4)
memory usage: 421.7+ KB