In [1]:
import pandas as pd

In [2]:
df_aeronefs = pd.read_csv('/Users/um/Desktop/Wild Code School/Top_Gun/aeronefs_2024-06-02.csv')
df_composants = pd.read_csv('/Users/um/Desktop/Wild Code School/Top_Gun/composants_2024-06-02.csv')
df_degradations = pd.read_csv('/Users/um/Desktop/Wild Code School/Top_Gun/degradations_2024-06-02.csv')
df_logs = pd.read_csv('/Users/um/Desktop/Wild Code School/Top_Gun/logs_vols_2024-06-02.csv')

In [3]:
df_aeronefs.head(2)

,ref_aero,type_model,debut_service,last_maint,en_maintenance,end_maint
0,E170_6353,E170,2000-03-17,2024-03-27 00:00:00,False,NaN
1,B767_2803,B767,2020-12-03,2024-06-01 00:00:00,False,NaN

In [4]:
df_composants.head(2)

,ref_compo,categorie,aero,desc,lifespan,taux_usure_actuel,cout
0,REAE170-E170_6353-0,Composants Critiques,E170_6353,Réacteur gauche,13045,53.308375,15552
1,REAE170-E170_6353-1,Composants Critiques,E170_6353,Réacteur droit,13626,50.111950,17559

In [5]:
df_degradations.head(2)

,ref_deg,linked_aero,compo_concerned,usure_nouvelle,measure_day,need_replacement
0,D003661,E170_6353,REAE170-E170_6353-0,53.308375,2024-06-01,False
1,D009402,E170_6353,REAE170-E170_6353-1,50.111950,2024-06-01,False

In [6]:
df_logs.head(2)

,ref_vol,aero_linked,jour_vol,time_en_air,sensor_data,etat_voyant
0,V07679725,B767_4924,2024-06-02,7.0,"{'temp': '-5.7°C', 'pressure': '930.6 hPa', 'v...",0
1,V02564879,B747_3165,2024-06-02,5.1,"{'temp': '0.9°C', 'pressure': '950.6 hPa', 'vi...",0