In [2]:
import pandas as pd

Importer les datasets

In [3]:
df_aeronefs = pd.read_csv('aeronefs_2024-06-02.csv')
df_composants = pd.read_csv('composants_2024-06-02.csv')
df_logsvols = pd.read_csv('logs_vols_2024-06-02.csv')
df_degradation = pd.read_csv('degradations_2024-06-02.csv')

# Df_aeronefs

Visualiser dataframe

In [4]:
df_aeronefs.head()

,ref_aero,type_model,debut_service,last_maint,en_maintenance,end_maint
0,E170_6353,E170,2000-03-17,2024-03-27 00:00:00,False,NaN
1,B767_2803,B767,2020-12-03,2024-06-01 00:00:00,False,NaN
2,CRJ700_6943,CRJ700,2015-01-29,2024-06-02,True,2024-06-03 14:13:00
3,A350_1177,A350,2005-08-07,2024-01-04 00:00:00,False,NaN
4,B777_4029,B777,2009-01-01,2024-06-01 00:00:00,False,NaN

Visualiser les statistiques, types et nulles

In [5]:
df_aeronefs.describe().T

               count unique                  top freq
ref_aero         232    231            E170_5551    2
type_model       232     15                 A350   22
debut_service    232    227           2004-12-16    2
last_maint       232     79  2024-06-01 00:00:00   71
en_maintenance   232      2                False  217
end_maint         15      2  2024-06-03 14:13:00   13

In [6]:
df_aeronefs.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 232 entries, 0 to 231
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   ref_aero        232 non-null    object
 1   type_model      232 non-null    object
 2   debut_service   232 non-null    object
 3   last_maint      232 non-null    object
 4   en_maintenance  232 non-null    bool
 5   end_maint       15 non-null     object
dtypes: bool(1), object(5)
memory usage: 9.4+ KB

# Df_composants

In [7]:
df_composants.head()

,ref_compo,categorie,aero,desc,lifespan,taux_usure_actuel,cout
0,REAE170-E170_6353-0,Composants Critiques,E170_6353,Réacteur gauche,13045,53.308375,15552
1,REAE170-E170_6353-1,Composants Critiques,E170_6353,Réacteur droit,13626,50.111950,17559
2,SYSE170-E170_6353-2,Composants Critiques,E170_6353,Système de navigation,10541,16.730575,16514
3,ORDE170-E170_6353-3,Composants Critiques,E170_6353,Ordinateur de vol,10441,6.653075,16047
4,AUTE170-E170_6353-4,Composants Critiques,E170_6353,Autopilote,14847,42.033525,19362

In [9]:
df_composants.describe().T

,count,mean,std,min,25%,50%,75%,max
lifespan,10440.0,13571.933333,8481.014582,10023.00,11015.000000,12643.000000,13626.00000,68978.00000
taux_usure_actuel,10440.0,31.112570,17.292379,0.07,16.347733,31.151386,45.94789,68.91093
cout,10440.0,11420.044444,5763.304270,2021.00,4801.000000,12664.000000,16266.00000,19492.00000

Il n'existe pas de valeurs nulles et les statistiques ont l'air correct

In [10]:
df_composants.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10440 entries, 0 to 10439
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   ref_compo          10440 non-null  object
 1   categorie          10440 non-null  object
 2   aero               10440 non-null  object
 3   desc               10440 non-null  object
 4   lifespan           10440 non-null  int64
 5   taux_usure_actuel  10440 non-null  float64
 6   cout               10440 non-null  int64
dtypes: float64(1), int64(2), object(4)
memory usage: 571.1+ KB

# Df_logsvols

In [11]:
df_logsvols.head()

,ref_vol,aero_linked,jour_vol,time_en_air,sensor_data,etat_voyant
0,V07679725,B767_4924,2024-06-02,7.0,"{'temp': '-5.7°C', 'pressure': '930.6 hPa', 'v...",0
1,V02564879,B747_3165,2024-06-02,5.1,"{'temp': '0.9°C', 'pressure': '950.6 hPa', 'vi...",0
2,V07933973,B757_2518,2024-06-02,7.7,"{'temp': '-6.2°C', 'pressure': '975.5 hPa', 'v...",3
3,V02230187,A340_1047,2024-06-02,6.1,"{'temp': '-25.3°C', 'pressure': '945.1 hPa', '...",1
4,V09071213,B757_6806,2024-06-02,4.5,"{'temp': '11.1°C', 'pressure': '931.3 hPa', 'v...",0

In [13]:
df_logsvols.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99 entries, 0 to 98
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   ref_vol      99 non-null     object
 1   aero_linked  99 non-null     object
 2   jour_vol     99 non-null     object
 3   time_en_air  99 non-null     float64
 4   sensor_data  99 non-null     object
 5   etat_voyant  99 non-null     int64
dtypes: float64(1), int64(1), object(4)
memory usage: 4.8+ KB

In [12]:
df_logsvols["sensor_data"]

0     {'temp': '-5.7°C', 'pressure': '930.6 hPa', 'v...
1     {'temp': '0.9°C', 'pressure': '950.6 hPa', 'vi...
2     {'temp': '-6.2°C', 'pressure': '975.5 hPa', 'v...
3     {'temp': '-25.3°C', 'pressure': '945.1 hPa', '...
4     {'temp': '11.1°C', 'pressure': '931.3 hPa', 'v...
                            ...
94    {'temp': '-15.8°C', 'pressure': '967.0 hPa', '...
95    {'temp': '-6.4°C', 'pressure': '966.1 hPa', 'v...
96    {'temp': '-18.3°C', 'pressure': '973.3 hPa', '...
97    {'temp': '2.8°C', 'pressure': '949.4 hPa', 'vi...
98    {'temp': '-6.0°C', 'pressure': '925.1 hPa', 'v...
Name: sensor_data, Length: 99, dtype: object

# Df_degradation

In [14]:
df_degradation.head()

,ref_deg,linked_aero,compo_concerned,usure_nouvelle,measure_day,need_replacement
0,D003661,E170_6353,REAE170-E170_6353-0,53.308375,2024-06-01,False
1,D009402,E170_6353,REAE170-E170_6353-1,50.111950,2024-06-01,False
2,D000812,E170_6353,SYSE170-E170_6353-2,16.730575,2024-06-01,False
3,D006665,E170_6353,ORDE170-E170_6353-3,6.653075,2024-06-01,False
4,D001163,E170_6353,AUTE170-E170_6353-4,42.033525,2024-06-01,False

In [15]:
df_degradation.describe().T

,count,mean,std,min,25%,50%,75%,max
usure_nouvelle,10530.0,31.106612,17.293706,0.11,16.355291,31.102806,45.887166,68.91093

In [16]:
df_degradation.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10530 entries, 0 to 10529
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   ref_deg           10530 non-null  object
 1   linked_aero       10530 non-null  object
 2   compo_concerned   10530 non-null  object
 3   usure_nouvelle    10530 non-null  float64
 4   measure_day       10530 non-null  object
 5   need_replacement  10530 non-null  bool
dtypes: bool(1), float64(1), object(4)
memory usage: 421.7+ KB