In [3]:
import pandas as pd

Importer les datasets

In [8]:
df_aeronefs = pd.read_csv('aeronefs_2024-06-02.csv')
df_composants = pd.read_csv('composants_2024-06-02.csv')
df_logsvols = pd.read_csv('logs_vols_2024-06-02.csv')
df_degradation = pd.read_csv('degradations_2024-06-02.csv')

# Df_aeronefs

Visualiser dataframe

In [10]:
df_aeronefs.head()

,ref_aero,type_model,debut_service,last_maint,en_maintenance,end_maint
0,E170_6353,E170,2000-03-17,2024-03-27 00:00:00,False,NaN
1,B767_2803,B767,2020-12-03,2024-06-01 00:00:00,False,NaN
2,CRJ700_6943,CRJ700,2015-01-29,2024-06-02,True,2024-06-03 14:13:00
3,A350_1177,A350,2005-08-07,2024-01-04 00:00:00,False,NaN
4,B777_4029,B777,2009-01-01,2024-06-01 00:00:00,False,NaN

Visualiser les statistiques, types et nulles

In [11]:
df_aeronefs.describe().T

               count unique                  top freq
ref_aero         232    231            E170_5551    2
type_model       232     15                 A350   22
debut_service    232    227           2004-12-16    2
last_maint       232     79  2024-06-01 00:00:00   71
en_maintenance   232      2                False  217
end_maint         15      2  2024-06-03 14:13:00   13

In [13]:
df_aeronefs.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 232 entries, 0 to 231
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   ref_aero        232 non-null    object
 1   type_model      232 non-null    object
 2   debut_service   232 non-null    object
 3   last_maint      232 non-null    object
 4   en_maintenance  232 non-null    bool
 5   end_maint       15 non-null     object
dtypes: bool(1), object(5)
memory usage: 9.4+ KB