In [2]:
import sqlite3
import pandas as pd
from datetime import datetime
import numpy as np

# Définir l'affichage de toutes les colonnes
pd.set_option('display.max_columns', None)

In [3]:
conn = sqlite3.connect(r'C:\Document\Python\Projet\Projet_3\Top_gun\bdd_sql\top_gun_data_1.db')

In [4]:
df_degra = pd.read_sql_query("SELECT * FROM degradations", conn)
df_aero = pd.read_sql_query("SELECT * FROM aeronefs", conn)
df_compo = pd.read_sql_query("SELECT * FROM composants", conn)
df_logs_vols = pd.read_sql_query("SELECT * FROM logs_vols", conn)

In [5]:
df_aero.head(2)

    ref_aero type_model debut_service  last_maint  en_maintenance   end_maint
0  E170_6353       E170    2000-03-17  2024-03-27               0  1970-01-01
1  B767_2803       B767    2020-12-03  2024-06-01               0  1970-01-01

In [6]:
df_logs_vols

,ref_vol,aero_linked,jour_vol,time_en_air,etat_voyant,temp en °C,pressure en hPa,vibrations en m/s²
0,V07679725,B767_4924,2024-06-02,7.0,0,-5.7,930.6,3.116
1,V02564879,B747_3165,2024-06-02,5.1,0,0.9,950.6,4.558
2,V07933973,B757_2518,2024-06-02,7.7,3,-6.2,975.5,4.587
3,V02230187,A340_1047,2024-06-02,6.1,1,-25.3,945.1,3.288
4,V09071213,B757_6806,2024-06-02,4.5,0,11.1,931.3,2.817
...,...,...,...,...,...,...,...,...
2541,V09442954,E175_5414,2024-06-27,4.3,0,-8.3,1012.4,2.308
2542,V02410514,B767_0277,2024-06-27,5.2,0,-1.4,968.5,0.338
2543,V06937872,A330_5146,2024-06-27,3.4,0,1.8,1028.1,2.198
2544,V04365675,A321_3033,2024-06-27,3.3,0,11.8,955.6,2.853
2545,V06417831,A320_6924,2024-06-27,0.6,0,0.8,941.3,4.917

In [7]:
df_logs_vols.duplicated().sum()

0

In [8]:
df_logs_vols['ref_vol'].nunique()

2546

In [9]:
val = df_logs_vols[df_logs_vols['aero_linked'] == 'B767_4924']
val['ref_vol'].nunique()

11

### Logs_vols

In [10]:
df_logs_vols['jour_vol'] = pd.to_datetime(df_logs_vols['jour_vol'], format='%Y-%m-%d')

In [11]:
# creation d'un dictionnaire pour les reférences des composants
name_compo = {
    0: 'REAE', 1: 'REAE', 2: 'SYSE', 3: 'ORDE', 4: 'AUTE', 5: 'SYSE', 6: 'RADE', 7: 'SYSE',
    8: 'SYSE', 9: 'SYSE', 10: 'SYSE', 11: 'UNIE', 12: 'SYSE', 13: 'SYSE', 14: 'SYSE',
    15: 'SYSE', 16: 'GENE', 17: 'TRAE', 18: 'TRAE', 19: 'SYSE', 20: 'AILE', 21: 'EMPE',
    22: 'FLAE', 23: 'SPOE', 24: 'FREE', 25: 'SYSE', 26: 'GOUE', 27: 'SYSE', 28: 'SYSE',
    29: 'SYSE', 30: 'ECLE', 31: 'SIEE', 32: 'SIEE', 33: 'SYSE', 34: 'SYSE', 35: 'TOIE',
    36: 'SYSE', 37: 'DETE', 38: 'ECLE', 39: 'PORE', 40: 'SYSE', 41: 'PORE', 42: 'HUBE',
    43: 'ECLE', 44: 'SYSE'
}

In [12]:
# Répéter chaque ligne 45 fois
df_vols = pd.DataFrame(np.repeat(df_logs_vols.values, 45, axis=0), columns=df_logs_vols.columns)

# Assigner id_desc de 0 à 44 pour chaque avion
df_vols['id_desc'] = np.tile(np.arange(45), len(df_logs_vols))

# Convertir id_desc en entier
df_vols['id_desc'] = df_vols['id_desc'].astype(int)

# Réinitialiser l'index du DataFrame
df_vols.reset_index(drop=True, inplace=True)

# Afficher le DataFrame étendu avec id_desc attribué
df_vols

,ref_vol,aero_linked,jour_vol,time_en_air,etat_voyant,temp en °C,pressure en hPa,vibrations en m/s²,id_desc
0,V07679725,B767_4924,2024-06-02,7.0,0,-5.7,930.6,3.116,0
1,V07679725,B767_4924,2024-06-02,7.0,0,-5.7,930.6,3.116,1
2,V07679725,B767_4924,2024-06-02,7.0,0,-5.7,930.6,3.116,2
3,V07679725,B767_4924,2024-06-02,7.0,0,-5.7,930.6,3.116,3
4,V07679725,B767_4924,2024-06-02,7.0,0,-5.7,930.6,3.116,4
...,...,...,...,...,...,...,...,...,...
114565,V06417831,A320_6924,2024-06-27,0.6,0,0.8,941.3,4.917,40
114566,V06417831,A320_6924,2024-06-27,0.6,0,0.8,941.3,4.917,41
114567,V06417831,A320_6924,2024-06-27,0.6,0,0.8,941.3,4.917,42
114568,V06417831,A320_6924,2024-06-27,0.6,0,0.8,941.3,4.917,43
114569,V06417831,A320_6924,2024-06-27,0.6,0,0.8,941.3,4.917,44

In [13]:
'''   
df_vols.drop(['time_en_air', 'temp en °C', 'pressure en hPa', 'vibrations en m/s²', 'ref_vol'], axis=1, inplace=True)
'''

"   \ndf_vols.drop(['time_en_air', 'temp en °C', 'pressure en hPa', 'vibrations en m/s²', 'ref_vol'], axis=1, inplace=True)\n"

In [14]:
df_vols['id_vol'] = df_vols['aero_linked'] + ' / ' + df_vols['jour_vol'].astype(str)
df_vols

,ref_vol,aero_linked,jour_vol,time_en_air,etat_voyant,temp en °C,pressure en hPa,vibrations en m/s²,id_desc,id_vol
0,V07679725,B767_4924,2024-06-02,7.0,0,-5.7,930.6,3.116,0,B767_4924 / 2024-06-02
1,V07679725,B767_4924,2024-06-02,7.0,0,-5.7,930.6,3.116,1,B767_4924 / 2024-06-02
2,V07679725,B767_4924,2024-06-02,7.0,0,-5.7,930.6,3.116,2,B767_4924 / 2024-06-02
3,V07679725,B767_4924,2024-06-02,7.0,0,-5.7,930.6,3.116,3,B767_4924 / 2024-06-02
4,V07679725,B767_4924,2024-06-02,7.0,0,-5.7,930.6,3.116,4,B767_4924 / 2024-06-02
...,...,...,...,...,...,...,...,...,...,...
114565,V06417831,A320_6924,2024-06-27,0.6,0,0.8,941.3,4.917,40,A320_6924 / 2024-06-27
114566,V06417831,A320_6924,2024-06-27,0.6,0,0.8,941.3,4.917,41,A320_6924 / 2024-06-27
114567,V06417831,A320_6924,2024-06-27,0.6,0,0.8,941.3,4.917,42,A320_6924 / 2024-06-27
114568,V06417831,A320_6924,2024-06-27,0.6,0,0.8,941.3,4.917,43,A320_6924 / 2024-06-27
114569,V06417831,A320_6924,2024-06-27,0.6,0,0.8,941.3,4.917,44,A320_6924 / 2024-06-27

In [15]:
day2 = df_vols[df_vols['aero_linked'] == 'B767_4924']
day2['jour_vol'].unique()

<DatetimeArray>
['2024-06-02 00:00:00', '2024-06-03 00:00:00', '2024-06-05 00:00:00',
 '2024-06-10 00:00:00', '2024-06-12 00:00:00', '2024-06-16 00:00:00',
 '2024-06-18 00:00:00', '2024-06-20 00:00:00', '2024-06-22 00:00:00',
 '2024-06-23 00:00:00', '2024-06-25 00:00:00']
Length: 11, dtype: datetime64[ns]

### DF COMPOSANTS

In [16]:
df_compo['id_desc'] = df_compo['ref_compo'].str.split('-').str[-1]
df_compo['measure_day'] = pd.to_datetime('2024-05-31')

In [17]:
df_compo.head(2)

,ref_compo,categorie,aero,desc,lifespan,taux_usure_actuel,cout,id_desc,measure_day
0,REAE170-E170_6353-0,2,E170_6353,Réacteur gauche,13045.0,53.308375,15552.0,0,2024-05-31
1,REAE170-E170_6353-1,2,E170_6353,Réacteur droit,13626.0,50.111950,17559.0,1,2024-05-31

#### Dictionnaire composants

In [18]:
# Création d'un dictionnaore composants

# Suppression des doublons
df_compo_unique = df_compo.drop_duplicates('id_desc')

# Conversion en dictionnaire
compo_dict = df_compo_unique.set_index('id_desc')[['desc', 'lifespan', 'categorie', 'cout']].to_dict(orient='index')

# Afficher le dictionnaire
print(compo_dict)

{'0': {'desc': 'Réacteur gauche', 'lifespan': 13045.0, 'categorie': 2, 'cout': 15552.0}, '1': {'desc': 'Réacteur droit', 'lifespan': 13626.0, 'categorie': 2, 'cout': 17559.0}, '2': {'desc': 'Système de navigation', 'lifespan': 10541.0, 'categorie': 2, 'cout': 16514.0}, '3': {'desc': 'Ordinateur de vol', 'lifespan': 10441.0, 'categorie': 2, 'cout': 16047.0}, '4': {'desc': 'Autopilote', 'lifespan': 14847.0, 'categorie': 2, 'cout': 19362.0}, '5': {'desc': 'Système de contrôle de vol', 'lifespan': 12580.0, 'categorie': 2, 'cout': 19492.0}, '6': {'desc': 'Radar météorologique', 'lifespan': 11923.0, 'categorie': 2, 'cout': 17567.0}, '7': {'desc': 'Système de communication radio', 'lifespan': 10370.0, 'categorie': 2, 'cout': 19214.0}, '8': {'desc': 'Système de gestion de carburant', 'lifespan': 13219.0, 'categorie': 2, 'cout': 18351.0}, '9': {'desc': "Système d'alerte de proximité au sol (GPWS)", 'lifespan': 10423.0, 'categorie': 2, 'cout': 18680.0}, '10': {'desc': 'Système de commande des gaz', 'lifespan': 11747.0, 'categorie': 2, 'cout': 18091.0}, '11': {'desc': "Unité de gestion de l'air", 'lifespan': 13224.0, 'categorie': 2, 'cout': 17834.0}, '12': {'desc': 'Système de gestion électrique', 'lifespan': 10409.0, 'categorie': 2, 'cout': 16266.0}, '13': {'desc': "Système d'atterrissage automatique", 'lifespan': 13537.0, 'categorie': 2, 'cout': 15045.0}, '14': {'desc': 'Système de surveillance du trafic aérien', 'lifespan': 10023.0, 'categorie': 2, 'cout': 17135.0}, '15': {'desc': 'Système hydraulique principal', 'lifespan': 14811.0, 'categorie': 1, 'cout': 14197.0}, '16': {'desc': 'Générateur électrique', 'lifespan': 13716.0, 'categorie': 1, 'cout': 10833.0}, '17': {'desc': "Train d'atterrissage principal", 'lifespan': 10389.0, 'categorie': 1, 'cout': 12512.0}, '18': {'desc': "Train d'atterrissage avant", 'lifespan': 13964.0, 'categorie': 1, 'cout': 14173.0}, '19': {'desc': 'Système anti-givre', 'lifespan': 14807.0, 'categorie': 1, 'cout': 13366.0}, '20': {'desc': 'Ailerons', 'lifespan': 10524.0, 'categorie': 1, 'cout': 10290.0}, '21': {'desc': 'Empennage', 'lifespan': 13736.0, 'categorie': 1, 'cout': 10528.0}, '22': {'desc': 'Flaps', 'lifespan': 11025.0, 'categorie': 1, 'cout': 14480.0}, '23': {'desc': 'Spoilers', 'lifespan': 13426.0, 'categorie': 1, 'cout': 12456.0}, '24': {'desc': 'Freins', 'lifespan': 11015.0, 'categorie': 1, 'cout': 12664.0}, '25': {'desc': 'Système de contrôle des surfaces de vol', 'lifespan': 11125.0, 'categorie': 1, 'cout': 12191.0}, '26': {'desc': 'Gouvernail de direction', 'lifespan': 12643.0, 'categorie': 1, 'cout': 12059.0}, '27': {'desc': 'Système de pressurisation', 'lifespan': 11338.0, 'categorie': 1, 'cout': 13233.0}, '28': {'desc': "Système de conditionnement d'air", 'lifespan': 10343.0, 'categorie': 1, 'cout': 13453.0}, '29': {'desc': "Système d'extinction d'incendie", 'lifespan': 11971.0, 'categorie': 1, 'cout': 10109.0}, '30': {'desc': 'Éclairage de cabine', 'lifespan': 12779.0, 'categorie': 0, 'cout': 4788.0}, '31': {'desc': 'Siège pilote', 'lifespan': 12106.0, 'categorie': 0, 'cout': 2151.0}, '32': {'desc': 'Siège copilote', 'lifespan': 14200.0, 'categorie': 0, 'cout': 3722.0}, '33': {'desc': 'Système de divertissement en vol', 'lifespan': 13985.0, 'categorie': 0, 'cout': 2723.0}, '34': {'desc': "Système d'annonce publique", 'lifespan': 13876.0, 'categorie': 0, 'cout': 2021.0}, '35': {'desc': 'Toilettes', 'lifespan': 13230.0, 'categorie': 0, 'cout': 4801.0}, '36': {'desc': "Système de conditionnement d'air", 'lifespan': 10343.0, 'categorie': 1, 'cout': 13453.0}, '37': {'desc': 'Détecteurs de fumée', 'lifespan': 11066.0, 'categorie': 0, 'cout': 2147.0}, '38': {'desc': "Éclairage d'urgence", 'lifespan': 14359.0, 'categorie': 0, 'cout': 4936.0}, '39': {'desc': 'Porte cargo', 'lifespan': 11447.0, 'categorie': 0, 'cout': 2850.0}, '40': {'desc': "Systèmes d'oxygène d'urgence", 'lifespan': 13038.0, 'categorie': 0, 'cout': 4745.0}, '41': {'desc': 'Portes passagers', 'lifespan': 13107.0, 'categorie': 0, 'cout': 3053.0}, '42': {'desc': 'Hublots', 'lifespan': 68978.0, 'categorie': 0, 'cout': 3593.0}, '43': {'desc': 'Éclairage de la cabine', 'lifespan': 10639.0, 'categorie': 0, 'cout': 4965.0}, '44': {'desc': "Système d'approvisionnement en eau", 'lifespan': 12796.0, 'categorie': 0, 'cout': 4701.0}}

In [19]:
# Suppression des colonnes dans df_compo
df_compo.drop(['desc', 'lifespan', 'categorie', 'cout'], axis=1, inplace=True)

In [20]:
# Renommer les colonnes
df_compo.columns = ['ref_compo', 'aero', 'usure', 'id_desc', 'measure_day']

### DF DEGRADATIONS

In [21]:
# creation colonne id_desc qui récupére le nombre après le tiret dans compo_concerned
df_degra['id_desc'] = df_degra['compo_concerned'].str.split('-').str[-1]

In [22]:
# Measure day au format date
df_degra['measure_day'] = pd.to_datetime(df_degra['measure_day'], format='%Y-%m-%d')

In [23]:
df_degra.head(2)

,ref_deg,linked_aero,compo_concerned,usure_nouvelle,measure_day,need_replacement,id_desc
0,D003661,E170_6353,REAE170-E170_6353-0,53.0,2024-06-01,0,0
1,D009402,E170_6353,REAE170-E170_6353-1,50.0,2024-06-01,0,1

In [24]:
# suppression colonnes dans df_degra
df_degra.drop(['ref_deg', 'need_replacement'], axis=1, inplace=True)

In [25]:
# on renomme les colonnes
df_degra.columns = ['aero', 'ref_compo', 'usure', 'measure_day', 'id_desc']

### CONCAT

In [26]:
# Concat df_compo et df_degra
df_compo_degra = pd.concat([df_compo, df_degra], ignore_index=True)

In [27]:
df_compo_degra

                       ref_compo         aero      usure id_desc measure_day
0            REAE170-E170_6353-0    E170_6353  53.308375       0  2024-05-31
1            REAE170-E170_6353-1    E170_6353  50.111950       1  2024-05-31
2            SYSE170-E170_6353-2    E170_6353  16.730575       2  2024-05-31
3            ORDE170-E170_6353-3    E170_6353   6.653075       3  2024-05-31
4            AUTE170-E170_6353-4    E170_6353  42.033525       4  2024-05-31
...                          ...          ...        ...     ...         ...
130810  SYSCRJ700-CRJ700_2988-40  CRJ700_2988  61.000000      40  2024-06-27
130811  PORCRJ700-CRJ700_2988-41  CRJ700_2988  24.000000      41  2024-06-27
130812  HUBCRJ700-CRJ700_2988-42  CRJ700_2988  76.000000      42  2024-06-27
130813  ECLCRJ700-CRJ700_2988-43  CRJ700_2988  43.000000      43  2024-06-27
130814  SYSCRJ700-CRJ700_2988-44  CRJ700_2988  21.000000      44  2024-06-27

[130815 rows x 5 columns]

In [28]:
'''
df_compo_degra['desc'] = df_compo_degra['id_desc'].map(lambda x: compo_dict[x]['desc'] if x in compo_dict else None)
df_compo_degra['lifespan'] = df_compo_degra['id_desc'].map(lambda x: compo_dict[x]['lifespan'] if x in compo_dict else None)
df_compo_degra['categorie'] = df_compo_degra['id_desc'].map(lambda x: compo_dict[x]['categorie'] if x in compo_dict else None)
df_compo_degra['cout'] = df_compo_degra['id_desc'].map(lambda x: compo_dict[x]['cout'] if x in compo_dict else None)
'''

"\ndf_compo_degra['desc'] = df_compo_degra['id_desc'].map(lambda x: compo_dict[x]['desc'] if x in compo_dict else None)\ndf_compo_degra['lifespan'] = df_compo_degra['id_desc'].map(lambda x: compo_dict[x]['lifespan'] if x in compo_dict else None)\ndf_compo_degra['categorie'] = df_compo_degra['id_desc'].map(lambda x: compo_dict[x]['categorie'] if x in compo_dict else None)\ndf_compo_degra['cout'] = df_compo_degra['id_desc'].map(lambda x: compo_dict[x]['cout'] if x in compo_dict else None)\n"

In [29]:
day = df_compo_degra[df_compo_degra['aero'] == 'B767_4924']
day['measure_day'].unique()

<DatetimeArray>
['2024-05-31 00:00:00', '2024-06-02 00:00:00', '2024-06-03 00:00:00',
 '2024-06-05 00:00:00', '2024-06-10 00:00:00', '2024-06-12 00:00:00',
 '2024-06-16 00:00:00', '2024-06-18 00:00:00', '2024-06-20 00:00:00',
 '2024-06-22 00:00:00', '2024-06-23 00:00:00', '2024-06-25 00:00:00']
Length: 12, dtype: datetime64[ns]

In [30]:
# Creation d'une colonne id_vol pour merge logs_vols
df_compo_degra['id_vol'] = df_compo_degra['aero'] + ' / ' + df_compo_degra['measure_day'].astype(str)
df_compo_degra

,ref_compo,aero,usure,id_desc,measure_day,id_vol
0,REAE170-E170_6353-0,E170_6353,53.308375,0,2024-05-31,E170_6353 / 2024-05-31
1,REAE170-E170_6353-1,E170_6353,50.111950,1,2024-05-31,E170_6353 / 2024-05-31
2,SYSE170-E170_6353-2,E170_6353,16.730575,2,2024-05-31,E170_6353 / 2024-05-31
3,ORDE170-E170_6353-3,E170_6353,6.653075,3,2024-05-31,E170_6353 / 2024-05-31
4,AUTE170-E170_6353-4,E170_6353,42.033525,4,2024-05-31,E170_6353 / 2024-05-31
...,...,...,...,...,...,...
130810,SYSCRJ700-CRJ700_2988-40,CRJ700_2988,61.000000,40,2024-06-27,CRJ700_2988 / 2024-06-27
130811,PORCRJ700-CRJ700_2988-41,CRJ700_2988,24.000000,41,2024-06-27,CRJ700_2988 / 2024-06-27
130812,HUBCRJ700-CRJ700_2988-42,CRJ700_2988,76.000000,42,2024-06-27,CRJ700_2988 / 2024-06-27
130813,ECLCRJ700-CRJ700_2988-43,CRJ700_2988,43.000000,43,2024-06-27,CRJ700_2988 / 2024-06-27
130814,SYSCRJ700-CRJ700_2988-44,CRJ700_2988,21.000000,44,2024-06-27,CRJ700_2988 / 2024-06-27

In [31]:
# Merge de df_compo_degra et logs_vols
df = pd.merge(df_compo_degra, df_vols, on='id_vol', how='left')

In [32]:
df.drop(['id_desc_y', 'aero_linked', 'jour_vol'], axis=1, inplace=True)

In [33]:
df.columns = ['ref_compo', 'aero', 'usure', 'id_desc', 'measure_day', 'id_vol', 'ref_vol', 'time_en_air', 'etat_voyant', 'temp en °C', 'pressure en hPa', 'vibrations en m/s²']

In [34]:
df.head()

,ref_compo,aero,usure,id_desc,measure_day,id_vol,ref_vol,time_en_air,etat_voyant,temp en °C,pressure en hPa,vibrations en m/s²
0,REAE170-E170_6353-0,E170_6353,53.308375,0,2024-05-31,E170_6353 / 2024-05-31,NaN,NaN,NaN,NaN,NaN,NaN
1,REAE170-E170_6353-1,E170_6353,50.111950,1,2024-05-31,E170_6353 / 2024-05-31,NaN,NaN,NaN,NaN,NaN,NaN
2,SYSE170-E170_6353-2,E170_6353,16.730575,2,2024-05-31,E170_6353 / 2024-05-31,NaN,NaN,NaN,NaN,NaN,NaN
3,ORDE170-E170_6353-3,E170_6353,6.653075,3,2024-05-31,E170_6353 / 2024-05-31,NaN,NaN,NaN,NaN,NaN,NaN
4,AUTE170-E170_6353-4,E170_6353,42.033525,4,2024-05-31,E170_6353 / 2024-05-31,NaN,NaN,NaN,NaN,NaN,NaN

In [35]:
df.isna().sum()

ref_compo                 0
aero                      0
usure                     0
id_desc                   0
measure_day               0
id_vol                    0
ref_vol               16245
time_en_air           16245
etat_voyant           16245
temp en °C            16245
pressure en hPa       16245
vibrations en m/s²    16245
dtype: int64

In [36]:
df.fillna(0, inplace=True)

C:\Users\uvlsp\AppData\Local\Temp\ipykernel_1032\4231983114.py:1: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df.fillna(0, inplace=True)

In [37]:
df.drop_duplicates(inplace=True)

#### Les nan sont pour les infos datant d'avant le 02/06/2024 et les premiers vols

In [38]:
df.isna().sum()

ref_compo             0
aero                  0
usure                 0
id_desc               0
measure_day           0
id_vol                0
ref_vol               0
time_en_air           0
etat_voyant           0
temp en °C            0
pressure en hPa       0
vibrations en m/s²    0
dtype: int64

In [39]:
info_31_05 = df[df['measure_day'] == '2024-05-31']
info_31_05.isna().sum()

ref_compo             0
aero                  0
usure                 0
id_desc               0
measure_day           0
id_vol                0
ref_vol               0
time_en_air           0
etat_voyant           0
temp en °C            0
pressure en hPa       0
vibrations en m/s²    0
dtype: int64

In [40]:
info_31_05 = df[df['measure_day'] == '2024-06-01']
info_31_05.isna().sum()

ref_compo             0
aero                  0
usure                 0
id_desc               0
measure_day           0
id_vol                0
ref_vol               0
time_en_air           0
etat_voyant           0
temp en °C            0
pressure en hPa       0
vibrations en m/s²    0
dtype: int64

In [41]:
# Identifier les colonnes contenant des valeurs manquantes
cols_with_na = ['etat_voyant']

# Filtrer les lignes ayant des NaN dans les colonnes spécifiées
na_rows = df[df[cols_with_na].isna().any(axis=1)]

# Afficher les lignes avec des NaN dans les colonnes spécifiées
na_rows['measure_day'].value_counts()

Series([], Name: count, dtype: int64)

### PIVOT TABLE

In [42]:
df.head(2)

,ref_compo,aero,usure,id_desc,measure_day,id_vol,ref_vol,time_en_air,etat_voyant,temp en °C,pressure en hPa,vibrations en m/s²
0,REAE170-E170_6353-0,E170_6353,53.308375,0,2024-05-31,E170_6353 / 2024-05-31,0,0.0,0,0.0,0.0,0.0
1,REAE170-E170_6353-1,E170_6353,50.111950,1,2024-05-31,E170_6353 / 2024-05-31,0,0.0,0,0.0,0.0,0.0

In [46]:
# On récupère du dcitionnaire compo le lifespan
df['lifespan'] = df['id_desc'].map(lambda x: compo_dict[x]['lifespan'] if x in compo_dict else None)

In [47]:
# On récupère du dcitionnaire compo la categorie
df['categorie'] = df['id_desc'].map(lambda x: compo_dict[x]['categorie'] if x in compo_dict else None)

In [48]:
df_filtre = df[(df['aero'] == 'E175_6879') & (df['id_desc'] == '0')]

df_filtre

,ref_compo,aero,usure,id_desc,measure_day,id_vol,ref_vol,time_en_air,etat_voyant,temp en °C,pressure en hPa,vibrations en m/s²,lifespan,categorie
9855,REAE175-E175_6879-0,E175_6879,20.51097,0,2024-05-31,E175_6879 / 2024-05-31,0,0.0,0,0.0,0.0,0.000,13045.0,2
204345,REAE175-E175_6879-0,E175_6879,21.00000,0,2024-06-02,E175_6879 / 2024-06-02,V09447011,6.6,0,0.6,918.4,4.412,13045.0,2
362520,REAE175-E175_6879-0,E175_6879,22.00000,0,2024-06-03,E175_6879 / 2024-06-03,V04838384,9.0,0,17.3,955.5,0.587,13045.0,2
870795,REAE175-E175_6879-0,E175_6879,22.00000,0,2024-06-05,E175_6879 / 2024-06-05,V03551025,5.2,0,-1.3,1029.6,1.283,13045.0,2
2215395,REAE175-E175_6879-0,E175_6879,24.00000,0,2024-06-12,E175_6879 / 2024-06-12,V08458991,9.8,0,3.1,920.0,4.319,13045.0,2
2486745,REAE175-E175_6879-0,E175_6879,25.00000,0,2024-06-14,E175_6879 / 2024-06-14,V05234056,6.6,0,-0.8,952.6,1.556,13045.0,2
2936295,REAE175-E175_6879-0,E175_6879,25.00000,0,2024-06-16,E175_6879 / 2024-06-16,V00917209,0.7,0,-2.4,991.9,4.841,13045.0,2
3468870,REAE175-E175_6879-0,E175_6879,26.00000,0,2024-06-19,E175_6879 / 2024-06-19,V00556610,7.2,0,-4.1,937.4,1.271,13045.0,2
3673395,REAE175-E175_6879-0,E175_6879,26.00000,0,2024-06-20,E175_6879 / 2024-06-20,V05633645,2.1,0,-2.6,960.1,2.590,13045.0,2
4979520,REAE175-E175_6879-0,E175_6879,26.00000,0,2024-06-26,E175_6879 / 2024-06-26,V04636781,2.7,0,13.3,985.9,0.784,13045.0,2
5159745,REAE175-E175_6879-0,E175_6879,27.00000,0,2024-06-27,E175_6879 / 2024-06-27,V02665396,5.7,0,1.7,975.5,2.999,13045.0,2

In [49]:
# Somme de time_en_air
somme = df_filtre['time_en_air'].sum()
somme

55.6

In [53]:
# 
pourcent = somme / df_filtre['lifespan'] * 100
pourcent.iloc[0]

0.4262169413568417

In [54]:
six_pourcent = df_filtre['lifespan'] * 0.06
six_pourcent.iloc[0]

782.6999999999999

In [ ]:
# Trier le DataFrame par 'aero' et 'measure_day' pour obtenir les dernières valeurs
df_sorted = df.sort_values(by=['aero', 'measure_day'], ascending=[True, False])

# Filtrer les dernières valeurs de 'etat_voyant' pour chaque 'aero'
latest_etat_voyant = df_sorted.drop_duplicates(subset=['aero'], keep='first')[['aero', 'etat_voyant']]

# Créer le pivot table
pivot_df = df.pivot_table(index='aero', columns='id_desc', values=['categorie', 'usure'], aggfunc='last').reset_index()

# Aplatir les colonnes multi-niveaux
pivot_df.columns = ['_'.join(map(str, col)).strip('_') for col in pivot_df.columns.values]

# Ajouter la colonne 'etat_voyant' au pivot_df
pivot_df = pivot_df.merge(latest_etat_voyant, on='aero', how='left')

In [ ]:
# Réorganiser les colonnes pour mettre 'etat_voyant' juste après 'aero'
cols = pivot_df.columns.tolist()

# Déplacer 'etat_voyant' après 'aero'
aero_index = cols.index('aero')
cols.insert(aero_index + 1, cols.pop(cols.index('etat_voyant')))
pivot_df = pivot_df[cols]

In [ ]:
pivot_df

,aero,etat_voyant,categorie_0,categorie_1,categorie_10,categorie_11,categorie_12,categorie_13,categorie_14,categorie_15,categorie_16,categorie_17,categorie_18,categorie_19,categorie_2,categorie_20,categorie_21,categorie_22,categorie_23,categorie_24,categorie_25,categorie_26,categorie_27,categorie_28,categorie_29,categorie_3,categorie_30,categorie_31,categorie_32,categorie_33,categorie_34,categorie_35,categorie_36,categorie_37,categorie_38,categorie_39,categorie_4,categorie_40,categorie_41,categorie_42,categorie_43,categorie_44,categorie_5,categorie_6,categorie_7,categorie_8,categorie_9,usure_0,usure_1,usure_10,usure_11,usure_12,usure_13,usure_14,usure_15,usure_16,usure_17,usure_18,usure_19,usure_2,usure_20,usure_21,usure_22,usure_23,usure_24,usure_25,usure_26,usure_27,usure_28,usure_29,usure_3,usure_30,usure_31,usure_32,usure_33,usure_34,usure_35,usure_36,usure_37,usure_38,usure_39,usure_4,usure_40,usure_41,usure_42,usure_43,usure_44,usure_5,usure_6,usure_7,usure_8,usure_9
0,A320_1884,0,2,2,2,2,2,2,2,1,1,1,1,1,2,1,1,1,1,1,1,1,1,1,1,2,0,0,0,0,0,0,1,0,0,0,2,0,0,0,0,0,2,2,2,2,2,19.0,50.0,55.0,21.0,33.0,68.0,28.0,27.0,37.0,53.0,51.0,16.0,21.0,30.0,44.0,23.0,35.0,23.0,65.0,47.0,52.0,39.0,17.0,42.0,10.0,60.0,53.0,33.0,36.0,26.0,66.0,12.0,67.0,34.0,38.0,30.0,33.0,62.0,23.0,45.0,21.0,42.0,28.0,33.0,15.0
1,A320_1930,2,2,2,2,2,2,2,2,1,1,1,1,1,2,1,1,1,1,1,1,1,1,1,1,2,0,0,0,0,0,0,1,0,0,0,2,0,0,0,0,0,2,2,2,2,2,61.0,42.0,19.0,46.0,50.0,71.0,29.0,71.0,54.0,48.0,14.0,31.0,47.0,34.0,37.0,59.0,43.0,55.0,49.0,55.0,18.0,36.0,19.0,57.0,55.0,20.0,24.0,31.0,68.0,56.0,47.0,13.0,64.0,49.0,70.0,41.0,71.0,92.0,18.0,46.0,52.0,18.0,18.0,23.0,23.0
2,A320_2237,0,2,2,2,2,2,2,2,1,1,1,1,1,2,1,1,1,1,1,1,1,1,1,1,2,0,0,0,0,0,0,1,0,0,0,2,0,0,0,0,0,2,2,2,2,2,64.0,9.0,28.0,11.0,50.0,23.0,9.0,38.0,50.0,6.0,18.0,32.0,7.0,64.0,26.0,43.0,47.0,19.0,41.0,61.0,17.0,54.0,58.0,11.0,19.0,9.0,46.0,30.0,57.0,29.0,44.0,61.0,44.0,45.0,33.0,60.0,38.0,42.0,57.0,47.0,62.0,47.0,11.0,21.0,56.0
3,A320_2497,1,2,2,2,2,2,2,2,1,1,1,1,1,2,1,1,1,1,1,1,1,1,1,1,2,0,0,0,0,0,0,1,0,0,0,2,0,0,0,0,0,2,2,2,2,2,40.0,18.0,48.0,28.0,16.0,22.0,57.0,25.0,23.0,14.0,19.0,22.0,8.0,27.0,19.0,17.0,33.0,26.0,9.0,49.0,63.0,56.0,22.0,37.0,48.0,36.0,48.0,69.0,30.0,51.0,35.0,61.0,26.0,19.0,26.0,28.0,19.0,77.0,46.0,28.0,31.0,22.0,59.0,54.0,30.0
4,A320_2562,0,2,2,2,2,2,2,2,1,1,1,1,1,2,1,1,1,1,1,1,1,1,1,1,2,0,0,0,0,0,0,1,0,0,0,2,0,0,0,0,0,2,2,2,2,2,12.0,26.0,54.0,52.0,44.0,53.0,37.0,10.0,21.0,29.0,21.0,67.0,25.0,23.0,27.0,57.0,12.0,67.0,22.0,11.0,63.0,41.0,51.0,66.0,45.0,17.0,16.0,21.0,66.0,59.0,18.0,58.0,54.0,12.0,39.0,20.0,69.0,58.0,28.0,22.0,37.0,15.0,60.0,35.0,64.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
225,E175_4558,0,2,2,2,2,2,2,2,1,1,1,1,1,2,1,1,1,1,1,1,1,1,1,1,2,0,0,0,0,0,0,1,0,0,0,2,0,0,0,0,0,2,2,2,2,2,37.0,29.0,21.0,15.0,45.0,64.0,61.0,62.0,48.0,38.0,20.0,67.0,43.0,24.0,11.0,20.0,14.0,31.0,18.0,66.0,9.0,23.0,6.0,25.0,36.0,26.0,37.0,47.0,47.0,60.0,62.0,37.0,42.0,49.0,64.0,36.0,58.0,41.0,37.0,44.0,48.0,64.0,50.0,27.0,14.0
226,E175_5414,0,2,2,2,2,2,2,2,1,1,1,1,1,2,1,1,1,1,1,1,1,1,1,1,2,0,0,0,0,0,0,1,0,0,0,2,0,0,0,0,0,2,2,2,2,2,26.0,60.0,57.0,18.0,18.0,64.0,59.0,59.0,62.0,67.0,40.0,27.0,40.0,33.0,25.0,11.0,15.0,10.0,40.0,27.0,46.0,33.0,45.0,18.0,65.0,27.0,24.0,33.0,58.0,59.0,61.0,13.0,32.0,49.0,40.0,25.0,42.0,92.0,14.0,66.0,56.0,22.0,55.0,41.0,27.0
227,E175_5586,0,2,2,2,2,2,2,2,1,1,1,1,1,2,1,1,1,1,1,1,1,1,1,1,2,0,0,0,0,0,0,1,0,0,0,2,0,0,0,0,0,2,2,2,2,2,29.0,51.0,65.0,14.0,58.0,9.0,55.0,49.0,38.0,34.0,9.0,14.0,20.0,11.0,50.0,38.0,28.0,43.0,30.0,58.0,48.0,39.0,10.0,11.0,49.0,58.0,59.0,44.0,31.0,39.0,43.0,55.0,16.0,56.0,46.0,20.0,8.0,91.0,38.0,36.0,65.0,10.0,16.0,11.0,57.0
228,E175_6729,1,2,2,2,2,2,2,2,1,1,1,1,1,2,1,1,1,1,1,1,1,1,1,1,2,0,0,0,0,0,0,1,0,0,0,2,0,0,0,0,0,2,2,2,2,2,20.0,15.0,67.0,24.0,41.0,17.0,10.0,24.0,30.0,47.0,66.0,16.0,56.0,63.0,29.0,64.0,54.0,9.0,62.0,52.0,59.0,46.0,25.0,42.0,49.0,38.0,69.0,52.0,42.0,30.0,51.0,37.0,53.0,16.0,47.0,29.0,52.0,68.0,22.0,46.0,51.0,31.0,49.0,41.0,42.0
229,E175_6879,0,2,2,2,2,2,2,2,1,1,1,1,1,2,1,1,1,1,1,1,1,1,1,1,2,0,0,0,0,0,0,1,0,0,0,2,0,0,0,0,0,2,2,2,2,2,27.0,16.0,8.0,34.0,9.0,29.0,43.0,36.0,34.0,49.0,12.0,29.0,60.0,15.0,48.0,57.0,22.0,49.0,40.0,62.0,23.0,39.0,62.0,43.0,18.0,54.0,42.0,16.0,37.0,24.0,21.0,6.0,13.0,14.0,60.0,17.0,55.0,47.0,12.0,28.0,62.0,16.0,26.0,49.0,8.0

In [ ]:
pivot_df.to_csv('pivot_df.csv', index=True)